<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Shopping Cart{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/shopping_cart">Home</a></li>
            <li><a href="/shopping_cart/login">Login</a></li>
            <li><a href="/shopping_cart/logout">Logout</a></li>
            <li><a href="/shopping_cart/register">Register</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>